{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen"]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [tiny]}
]}.

{pre_hooks, [{compile, "gleam build ."},
             {eunit, "gleam build . --env test"}]}.

{deps, [
  gleam_experimental_stdlib,
  {gleam_experimental_elli, {git, "https://github.com/gleam-lang/gleam_experimental_elli"}},
  elli
]}.
