{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{shell, [
    % {config, [{config, "config/sys.config"}]},
    {apps, [echo]}
]}.

{project_plugins, [rebar_gleam]}.

{deps, [
    {gleam_stdlib, "~> 0.14"},
    {gleam_http, "~> 2.0"},
    {gleam_elli, "~> 0.2"},
    {gleam_otp, "~> 0.1"},
    elli
]}.

{relx, [{release, {echo, "0.1.0"},
         [echo, sasl, gleam_otp, gleam_http, gleam_stdlib, gleam_elli]},
        {mode, prod}]}.

