{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{shell, [
    % {config, [{config, "config/sys.config"}]},
    {apps, [tiny]}
]}.

{project_plugins, [rebar_gleam]}.

{deps, [
    {gleam_stdlib, "0.6.0"},
    {gleam_http, {git, "https://github.com/gleam-lang/gleam_http", {branch, "master"}}},
    {gleam_elli, {git, "https://github.com/gleam-experiments/elli", {branch, "master"}}},
    {gleam_otp_supervisor, {git, "https://github.com/gleam-experiments/otp_supervisor", {branch, "master"}}},
    elli
]}.
